@page "/yeasts/create"
@inject BlazorApp.Models.MysqlhomebrewContext DB
@using BlazorApp.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Yeast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Yeast" OnValidSubmit="AddYeast" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Yeast.Name" class="form-control" /> 
                <ValidationMessage For="() => Yeast.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lab" class="form-label">Lab:</label> 
                <InputText id="lab" @bind-Value="Yeast.Lab" class="form-control" /> 
                <ValidationMessage For="() => Yeast.Lab" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="code" class="form-label">Code:</label> 
                <InputText id="code" @bind-Value="Yeast.Code" class="form-control" /> 
                <ValidationMessage For="() => Yeast.Code" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="type" class="form-label">Type:</label> 
                <InputText id="type" @bind-Value="Yeast.Type" class="form-control" /> 
                <ValidationMessage For="() => Yeast.Type" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="form" class="form-label">Form:</label> 
                <InputText id="form" @bind-Value="Yeast.Form" class="form-control" /> 
                <ValidationMessage For="() => Yeast.Form" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="flocculation" class="form-label">Flocculation:</label> 
                <InputText id="flocculation" @bind-Value="Yeast.Flocculation" class="form-control" /> 
                <ValidationMessage For="() => Yeast.Flocculation" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/yeasts">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Yeast Yeast { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddYeast()
    {
        DB.Yeasts.Add(Yeast);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/yeasts");
    }
}
